* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  color: white !important;

}



body {
  background-image: url('https://www.framtid.se/files/1200x500/shutterstock_575726662.jpg?1593971741');
  /* position:fixed; */
  min-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;


}


.Navbar-nav {
  height:60vh !important;
  /* min-height: auto !important;
  min-width:80% !important; */
  display:flex !important;
  /* justify-content:start ; */
  align-items: center;
  /* box-shadow: none !important; */
  /* background-color:blueviolet !important; */


}


.mx-10 {
  margin-left:5rem;
  /* margin-right: 2rem; */
  /* background-color:blue; */
}


.mx-11 {
  margin-left:4rem;
}
.mx-12 {
  margin-right:14rem !important;
}
.mx-13 {
  margin-right:18rem !important;
}



.btn-bluee {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.btn-bluee {
   /* margin: 0.1px; */
   padding: 5px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   /* color: white;             */
   /* box-shadow: 0 0 0.1px #eee; */
   border-radius: 5px;
   display: block;
 }

 .btn-bluee:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }


 .activE {
  /* text-decoration: underline; */
  background: rgba(0, 0, 0, 0.39);
  color: rgb(255, 255, 255) !important;
  
}